<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    
  </startup>
  <appSettings>
    <add key="BotToken" value="NTEyMzYwNDYzOTM4NDg2MzAz.DuVWKg.6pEf6A7xbxsPOA11a4SyAORQwMk" />
    <add key="BlobStoreConnectionString" value="DefaultEndpointsProtocol=https;AccountName=cameronfernsdiag;AccountKey=bSciFhSvcH0PlAGkd4tjRRi9VpeD5SFRcqNSsxFIR2jZNy3e6dTjwkNca+ihlWWJu9Ba3TFb1L0aN/INz90Ydg==;EndpointSuffix=core.windows.net" />
    <add key="GiphyAPIKey" value="3oD1V4aTpQNqu8yCilNQSjx8WWrsk9Bs" />
    <add key="TranslateAPIKey" value="eb4e705d0e2949988f2bc6543e2f505e" />
    <add key="SpeechServicesKey" value="48d1c048b2b04e5584e2390d08f5e83f" />
    <add key="DatabaseConnectionString" value="Data Source=CAMERON-DESKTOP\\SQLEXPRESS;Initial Catalog=Prawnbot.Database;User ID=sa;Password=Password2019?;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <add key="GoogleAPIKey" value="1af4e0dad92fb195a8b432e1435d24181e58dac1" />
    <add key="GoogleApplicationName" value="prawnbot" />
    <add key="AllowEventListeners" value="true" />
    <add key="ProfanityFilter" value="false" />
    <add key="DadMode" value="true" />
    <add key="YottaMode" value="true" />
    <add key="EmojiRepeat" value="true" />
  </appSettings>
</configuration>